[build.environment]
  NODE_VERSION = "20"
  # don't need playwright for docs build
  PLAYWRIGHT_SKIP_BROWSER_DOWNLOAD = "1"
  # docs site deployment requires generating llm text
  RELEASE = "1"
  NODE_ENV = "production"
  # override Netlify's default CI=true so that shouldSuppressLog
  # correctly silences non-critical logs in production builds
  CI = ""

[build]
  publish = "docs/.vitepress/dist"
  command = "pnpm build && pnpm docs:build"

[[redirects]]
  from = "/docs-islands/*"
  to = "/:splat"
  status = 200

[[headers]]
  for = "/docs-islands/*/assets/*"
  [headers.values]
    cache-control = '''
    max-age=31536000,
    immutable'''
